.contato {
  margin: 6em 2em;
}

.contato__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contato__texto {
  color: var(--white-titulo);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  width: 80%;
  background: var(--sombra);
  padding: 1.5em;
  border-radius: 25px;
}

.contato__texto > strong {
  color: var(--primary);
}
