.experiencia {
  margin: 2em 1em;
}

.experiencia__titulo {
  font-size: 30px;
  color: var(--white-titulo);
  font-weight: 700;
  margin-bottom: 1em;
}

.experiencia__business {
  display: flex;
  align-items: center;
  gap: 25px;
}

.experiencia__business-imagem {
  padding: 1.5em;
}

.experiencia__business-imagem:hover {
  background: var(--sombra);
  transition: all 300ms ease-in;
  border-radius: 5px;
}

.experiencia__titulo-second {
  margin-top: 2em;
  font-size: 18px;
  color: var(--white-titulo);
}

.experiencia__titulo-second > strong {
  color: var(--primary);
}

.experiencia__subtitulo {
  margin-bottom: 2em;
  color: var(--cinza-second);
}

.experiencia__texto {
  padding: 1em 0;
  color: var(--white-titulo);
}

.experiencia__texto > strong {
  color: var(--primary);
}
